md-card{
    margin-bottom: 20px;
}

.day-title{
    font-weight: bold;
    border-bottom: 1px solid black;
    font-size: xx-large;
}

.lecture-list{
    background-color: lightblue;
}

.labs-list{
    background-color: lightpink;
}

th{
    padding: 10px;
}

td{
    padding: 10px;
}

.table-title{
    font-weight: bold;
}

.day-view{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    border: 15px solid white;
}