md-card{
    margin-bottom: 20px;
}

.day-title{
    font-weight: bold;
    border-bottom: 1px solid green;
    font-size: xx-large;
}

th{

}

td{
    padding: 10px;
}

.table-title{
    font-weight: bold;
}

.day-view{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #64AA66;
    border: 15px solid #64AA66;
    padding-left: 2%; padding-right: 2%; margin-left: 2%; margin-right: 2%;
    color: white;
    th{
        padding: 10px;
        color: white;
        background-color: green;
    }
    tr{
        height: 5px;
    }
}

table{
    background-color: #64AA66;
    color: white;
    margin-top: 2%
}

.table-header{
    color: white;
}