md-card{
    margin-bottom: 20px;
}

.day-title{
    font-weight: bold;
}

.lecture-list{
    background-color: lightblue;
}

.labs-list{
    background-color: lightpink;
}

th{
    padding: 10px;
}

td{
    padding: 10px;
}

.table-title{
    font-weight: bold;
}